.header-body {
    background-color: #DFDFDF;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.482);
}

.header-logo {
    height: 100%;
}